{% extends 'base.html.twig' %}

{% block title %}Gestion de Revenus : Inscription{% endblock %}

{% block body %}
<div class="container-fluid blockregister">
    <div class="row">
        <!-- Partie image à gauche -->
        <div class="col-md-5 image-side">
            <img class="img-fluid imgsign" src="{{ asset('divers/images/imagesign.jpg') }}" alt="Image d'inscription">
        </div>
        <div class="col-md-1"></div>

        <!-- Partie formulaire d'inscription à droite -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="card p-4 shadow-lg w-100">
                <h4 class="font-weight-normal pb-4">Création de compte</h4>
                
                <form method="POST" enctype="multipart/form-data">
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}

                    <div class="md-3 mb-2"> 
                        {{ form_widget(registrationForm.firstname, { attr: { class: 'form-control', placeholder: 'Votre prénom' } }) }}  
                    </div>
                        
                    <div class="md-3 mb-2"> 
                        {{ form_widget(registrationForm.lastname, { attr: { class: 'form-control', placeholder: 'Votre nom' } }) }}  
                    </div>
                        
                    <div class="md-3 mb-2"> 
                        {{ form_widget(registrationForm.email, { attr: { class: 'form-control', placeholder: 'Votre adresse email' } }) }}  
                    </div>
                    
                    <div class="md-3 mb-2">  
                        {{ form_widget(registrationForm.plainPassword, { attr: { class: 'form-control', placeholder: 'Votre mot de passe' } }) }} 
                    </div>
                        
                    <div class="mb-3 mb-2">
                        <label class="form-check-label">J'accepte les conditions d'utilisation</label>&emsp;&emsp;
                        {{ form_widget(registrationForm.agreeTerms, { attr: { class: 'form-check-input' } }) }}
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btnss">
                                Créer mon compte
                            </button>   
                        </div>
                    </div>

                    <div class="text-center mt-2">
                        <p>Déjà inscrit ? <a href="{{ path('app_login') }}">Se connecter</a></p>
                    </div>

                    {{ form_end(registrationForm) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
